.input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #cce0ff;
  border-radius: 6px;
  background-color: #f5faff;
  color: #003366;
  transition: border-color 0.3s ease;
}

.input:focus {
  outline: none;
  border-color: #0078d4;
  background-color: #ffffff;
}

.select {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  /* margin-left: 30px; */
  border: 1px solid #cce0ff;
  border-radius: 6px;
  background-color: #f5faff;
  color: #003366;
  appearance: none;
  transition: border-color 0.3s ease;
}

.input, .select {
  box-sizing: border-box;
}

.select:focus {
  outline: none;
  border-color: #0078d4;
  background-color: #ffffff;
}

::placeholder {
  color: #7a9cc3;
}